body
  font-family: Trebuchet MS
  margin: 0px

#header
  background-color: #DEE
  padding: 1em
  h1
    margin: 0px

#pick_kanas
  ul
    list-style: none
    li
      display: inline
      float: left
      margin: .5em
      cursor: default
      background-color: #DDE
      text-align: center
      -moz-user-select: none
      border: 1px solid transparent
      &:hover
        background-color: #DFF
      em
        padding: .2em
        font-size: 2em
      span
        padding: .2em
        background-color: #ABE
      em, span
        display: block
        font-style: normal
    li.selected
      background-color: #bbd
      border: 1px solid #EED
#start
  clear: both
#kana
  font-size: 3em
